*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  color: #2d2d2d;
  font-family: "Montserrat", sans-serif;
}
.btn-primary {
  background-color: #0194f3;
  color: white;
  &:focus {
    opacity: 0.7;
  }
}
.btn-secondary {
  background-color: white;
  border: 1px solid #0194f3;
  color: #0194f3;
  &:focus {
    opacity: 0.7;
  }
}
.btn-white {
  background-color: white;
  color: black;
  &:focus {
    opacity: 0.7;
  }
}
.shadow-card {
  box-shadow: 1px 1px 15px 5px #a2b6d426;
}
button:disabled,
button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

button:hover:enabled,
button:active:enabled {
  opacity: 0.7;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}
.hide-scroll-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::placeholder {
  color: #a2b6d4 !important;
  opacity: 0.5 !important; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #a2b6d4 !important;
  opacity: 0.5 !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #a2b6d4 !important;
  opacity: 0.5 !important;
}
